[submodule "Packages/FernRP"]
	path = Packages/FernRP
	url = git@github.com:FernRender/FernRP.git
[submodule "Packages/LWGUI-fork"]
	path = Packages/LWGUI-fork
	url = git@github.com:DeJhon-Huang/LWGUI.git
