[submodule "Packages/LWGUI-fork"]
	path = Packages/LWGUI-fork
	url = git@github.com:DeJhon-Huang/LWGUI.git
[submodule "Packages/com.fernrp.core"]
	path = Packages/com.fernrp.core
	url = git@github.com:FernRP/FernRP.git
