.idea
Library
Logs
obj
Temp
*.csproj
*.sln
UserSettings/Layouts
Packages/FERNGUI@1.0.0
ProjectSettings/ProjectVersion.txt
UserSettings/Layouts
UserSettings
Assets/ProVersion
Assets/ProVersion.meta
*.user
Assets/TempAsset
Assets/TempAsset.meta
Blender Source
VRM Sources
Accurig
UnityPackages
Assets/AZURE Nature
Assets/AZURE Nature.meta
