
.canvasView {
    flex: 1;
}

.canvasViewTitle {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 50px;
    opacity: 0.15;
}

GridBackground {
    --grid-background-color: var(--bluegraph-grid-background-color); 
    --line-color: var(--bluegraph-grid-line-color); 
    --thick-line-color: var(--bluegraph-grid-thick-line-color); 
    --spacing: 100;
}

.canvasView .edge {
    --selected-edge-color: var(--bluegraph-highlight-color); 
}
